<!DOCTYPE html>

<head>
   <link rel="stylesheet" type="text/css" href="./static/main.css">
  </head>

<body>
<div class="container"> <h1>Sarcasm Detection</h1> </div>
<div class="content-section">
      <form method="POST" enctype="multipart/form-data">
         <h2> Headline:
         <input type="text" name="headline">
         <input type="submit" value="Submit">
		 </h2>

      </form>
</div>
<div class="container">
      {% if prediction != None %}
      <br><br>
      <h2>{{ prediction }} </h2>
      {% endif %}


</div>

</body>
</html>