<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="./static/main.css">
  </head>

<body>

<div class="container"> <h1 style="font-size:300%;text-align:center;"> Sarcasm Detection</h1></div>
<div class="content-section">
      <form method="POST" enctype="multipart/form-data">
         <h2 style="font-size:170%;">Enter the Headline:</h2>
         <input type="text" name="headline" size = "100" style = "height:50px; font-size: 150%">
         <input type="submit" value="Predict" size = "100" style = "height:50px; font-size: 150%">
		 
      </form>
</div>
<div class="content-section">
      {% if prediction != None %}
      <br><br>
      <h2>The model predicts that this article is... <h1> {{ prediction }} </h1></h2>
      {% endif %}


</div>

</body>
</html>